body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    color: hwb(228 42% 46%);
    padding: 10% 0 10% 0;
}

h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    margin-bottom: 15px;
    color: hsl(212, 21%, 14%);
}

.col-lg-6 {
    margin: 0;
    padding: 0;
}

.box {
    background-color: hsl(0, 0%, 100%);
    width: 336px;
}


/* Perfume Image Section */

.perfume-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}


/* Product Description Section */

.content {
    padding: 25px;
    padding-bottom: 0;
}

.perfume {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
}


/* price section */

.price-table {
    width: 70%;
    margin-bottom: 10px;
}

.real-price {
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 30px;
}

.former-price {
    margin-left: 20px;
    text-decoration: line-through;
    margin-bottom: 2px;
}


/* Cart Button Section */

.cart-button {
    width: 100%;
    border: 1px solid;
    border-radius: 6px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 8px;
    font-weight: 700;
}

.cart-button:hover {
    background-color: hsl(159, 100%, 11%);
}

.cart-button img {
    margin-right: 5px;
}

@media (min-width:992px) {
    .box {
        width: 49%;
    }
    .perfume-image img {
        border-radius: 5px 0 0 5px;
    }
}